# Final Project: Part 1

## Option 1: United States Energy, Census, and GDP 2010-2014

## Problem Statement:

The United States uses and produces many different types and sources of energy. There are different sources of energy includung primary sources, such as coal and natural gas, and electricity, which is generated from primary sources. The mix of energy sources in the United States has changed over the years. However, the total energy consumed is still increasing as the population grows. The main goal of this exercise is to provide a projection of energy consumed in the country.

## Target Variable and Feature Columns:

Target variable: energy consumption (in billion BTU)

Feature set: the population per year, the birth rate per year, the death rate by year, the net international migration rate by year, the net domestic migration by year, the coal total consumption per year, the electricity total consumption per year, the fossil fuels total consumption per year, the geothermal total consumption per year, the hydropower total consumption per year, the natural gas total consumption per year, and the LPG total consumptin per year.

## Goal and Sucess Metrics:

The goal is to be able to preduct the amount of energy that will be consumed in a year in the United States. 

The sucess metric is limited to predicting the amount of energy consumed and the ability to determine a trend in the data based on the feature columns.

## Risks and Limitations:

- The net domestic migration rate is dependent upon on if individuals report their new addresses in a timely manner.
- The net international migration rate only factors in documented immigrants.
- There is only data provided for four sequential years.

#### Source of the dataset: https://www.kaggle.com/lislejoem/us_energy_census_gdp_10-14

In [39]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd

plt.style.use('fivethirtyeight')

In [11]:
%matplotlib inline

### Load the data

In [13]:
energy_df = pd.read_csv('US_2010-2014.csv')

In [14]:
energy_df.head()

,StateCodes,State,Region,Division,Coast,Great Lakes,TotalC2010,TotalC2011,TotalC2012,TotalC2013,...,RINTERNATIONALMIG2013,RINTERNATIONALMIG2014,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014
0,AL,Alabama,3.0,6.0,1.0,0.0,1931522,1905207,1879716,1919365,...,1.165832,1.157861,-0.020443,-0.168414,0.396416,0.420102,1.011941,1.001333,1.562247,1.577963
1,AK,Alaska,4.0,9.0,1.0,0.0,653221,653637,649341,621107,...,3.203618,2.869760,-1.175137,-1.949571,-3.789313,-13.754494,0.948185,1.835376,-0.585695,-10.884734
2,AZ,Arizona,4.0,8.0,0.0,0.0,1383531,1424944,1395839,1414383,...,1.090035,1.091283,1.341472,-0.420875,-0.580562,-1.313050,2.317801,0.621971,0.509473,-0.221767
3,AR,Arkansas,3.0,7.0,0.0,0.0,1120632,1122544,1067642,1096438,...,2.141877,2.129805,1.369514,5.131282,3.910476,6.280636,3.336628,7.155212,6.052353,8.410441
4,CA,California,4.0,9.0,1.0,0.0,7760629,7777115,7564063,7665241,...,4.207353,4.177389,-1.162079,-1.173951,-1.341226,-0.830982,2.761377,2.772770,2.866127,3.346406

In [30]:
# Check the shape of the column
energy_df.shape

(52, 192)

In [25]:
# See which columns have null values
# There are too many columns for Jupyter to print all of them without skipping the columns in the middle
energy_df.columns[energy_df.isna().any()]

Index(['Region', 'Division', 'Coast', 'Great Lakes', 'RDOMESTICMIG2011',
       'RDOMESTICMIG2012', 'RDOMESTICMIG2013', 'RDOMESTICMIG2014'],
      dtype='object')

In [32]:
# Print each column.
for col in energy_df.columns:
    print(col)

StateCodes
State
Region
Division
Coast
Great Lakes
TotalC2010
TotalC2011
TotalC2012
TotalC2013
TotalC2014
TotalP2010
TotalP2011
TotalP2012
TotalP2013
TotalP2014
TotalE2010
TotalE2011
TotalE2012
TotalE2013
TotalE2014
TotalPrice2010
TotalPrice2011
TotalPrice2012
TotalPrice2013
TotalPrice2014
TotalC10-11
TotalC11-12
TotalC12-13
TotalC13-14
TotalP10-11
TotalP11-12
TotalP12-13
TotalP13-14
TotalE10-11
TotalE11-12
TotalE12-13
TotalE13-14
TotalPrice10-11
TotalPrice11-12
TotalPrice12-13
TotalPrice13-14
BiomassC2010
BiomassC2011
BiomassC2012
BiomassC2013
BiomassC2014
CoalC2010
CoalC2011
CoalC2012
CoalC2013
CoalC2014
CoalP2010
CoalP2011
CoalP2012
CoalP2013
CoalP2014
CoalE2010
CoalE2011
CoalE2012
CoalE2013
CoalE2014
CoalPrice2010
CoalPrice2011
CoalPrice2012
CoalPrice2013
CoalPrice2014
ElecC2010
ElecC2011
ElecC2012
ElecC2013
ElecC2014
ElecE2010
ElecE2011
ElecE2012
ElecE2013
ElecE2014
ElecPrice2010
ElecPrice2011
ElecPrice2012
ElecPrice2013
ElecPrice2014
FossFuelC2010
FossFuelC2011
FossFuelC2012
FossFuelC2013
FossFuelC2014
GeoC2010
GeoC2011
GeoC2012
GeoC2013
GeoC2014
GeoP2010
GeoP2011
GeoP2012
GeoP2013
GeoP2014
HydroC2010
HydroC2011
HydroC2012
HydroC2013
HydroC2014
HydroP2010
HydroP2011
HydroP2012
HydroP2013
HydroP2014
NatGasC2010
NatGasC2011
NatGasC2012
NatGasC2013
NatGasC2014
NatGasE2010
NatGasE2011
NatGasE2012
NatGasE2013
NatGasE2014
NatGasPrice2010
NatGasPrice2011
NatGasPrice2012
NatGasPrice2013
NatGasPrice2014
LPGC2010
LPGC2011
LPGC2012
LPGC2013
LPGC2014
LPGE2010
LPGE2011
LPGE2012
LPGE2013
LPGE2014
LPGPrice2010
LPGPrice2011
LPGPrice2012
LPGPrice2013
LPGPrice2014
GDP2010Q1
GDP2010Q2
GDP2010Q3
GDP2010Q4
GDP2010
GDP2011Q1
GDP2011Q2
GDP2011Q3
GDP2011Q4
GDP2011
GDP2012Q1
GDP2012Q2
GDP2012Q3
GDP2012Q4
GDP2012
GDP2013Q1
GDP2013Q2
GDP2013Q3
GDP2013Q4
GDP2013
GDP2014Q1
GDP2014Q2
GDP2014Q3
GDP2014Q4
GDP2014
CENSUS2010POP
POPESTIMATE2010
POPESTIMATE2011
POPESTIMATE2012
POPESTIMATE2013
POPESTIMATE2014
RBIRTH2011
RBIRTH2012
RBIRTH2013
RBIRTH2014
RDEATH2011
RDEATH2012
RDEATH2013
RDEATH2014
RNATURALINC2011
RNATURALINC2012
RNATURALINC2013
RNATURALINC2014
RINTERNATIONALMIG2011
RINTERNATIONALMIG2012
RINTERNATIONALMIG2013
RINTERNATIONALMIG2014
RDOMESTICMIG2011
RDOMESTICMIG2012
RDOMESTICMIG2013
RDOMESTICMIG2014
RNETMIG2011
RNETMIG2012
RNETMIG2013
RNETMIG2014

In [38]:
# Print the amount of null values in each column
for col in energy_df.columns:
    print(col)
    print(energy_df.loc[:, col].isna().sum())

StateCodes
0
State
0
Region
1
Division
1
Coast
1
Great Lakes
1
TotalC2010
0
TotalC2011
0
TotalC2012
0
TotalC2013
0
TotalC2014
0
TotalP2010
0
TotalP2011
0
TotalP2012
0
TotalP2013
0
TotalP2014
0
TotalE2010
0
TotalE2011
0
TotalE2012
0
TotalE2013
0
TotalE2014
0
TotalPrice2010
0
TotalPrice2011
0
TotalPrice2012
0
TotalPrice2013
0
TotalPrice2014
0
TotalC10-11
0
TotalC11-12
0
TotalC12-13
0
TotalC13-14
0
TotalP10-11
0
TotalP11-12
0
TotalP12-13
0
TotalP13-14
0
TotalE10-11
0
TotalE11-12
0
TotalE12-13
0
TotalE13-14
0
TotalPrice10-11
0
TotalPrice11-12
0
TotalPrice12-13
0
TotalPrice13-14
0
BiomassC2010
0
BiomassC2011
0
BiomassC2012
0
BiomassC2013
0
BiomassC2014
0
CoalC2010
0
CoalC2011
0
CoalC2012
0
CoalC2013
0
CoalC2014
0
CoalP2010
0
CoalP2011
0
CoalP2012
0
CoalP2013
0
CoalP2014
0
CoalE2010
0
CoalE2011
0
CoalE2012
0
CoalE2013
0
CoalE2014
0
CoalPrice2010
0
CoalPrice2011
0
CoalPrice2012
0
CoalPrice2013
0
CoalPrice2014
0
ElecC2010
0
ElecC2011
0
ElecC2012
0
ElecC2013
0
ElecC2014
0
ElecE2010
0
ElecE2011
0
ElecE2012
0
ElecE2013
0
ElecE2014
0
ElecPrice2010
0
ElecPrice2011
0
ElecPrice2012
0
ElecPrice2013
0
ElecPrice2014
0
FossFuelC2010
0
FossFuelC2011
0
FossFuelC2012
0
FossFuelC2013
0
FossFuelC2014
0
GeoC2010
0
GeoC2011
0
GeoC2012
0
GeoC2013
0
GeoC2014
0
GeoP2010
0
GeoP2011
0
GeoP2012
0
GeoP2013
0
GeoP2014
0
HydroC2010
0
HydroC2011
0
HydroC2012
0
HydroC2013
0
HydroC2014
0
HydroP2010
0
HydroP2011
0
HydroP2012
0
HydroP2013
0
HydroP2014
0
NatGasC2010
0
NatGasC2011
0
NatGasC2012
0
NatGasC2013
0
NatGasC2014
0
NatGasE2010
0
NatGasE2011
0
NatGasE2012
0
NatGasE2013
0
NatGasE2014
0
NatGasPrice2010
0
NatGasPrice2011
0
NatGasPrice2012
0
NatGasPrice2013
0
NatGasPrice2014
0
LPGC2010
0
LPGC2011
0
LPGC2012
0
LPGC2013
0
LPGC2014
0
LPGE2010
0
LPGE2011
0
LPGE2012
0
LPGE2013
0
LPGE2014
0
LPGPrice2010
0
LPGPrice2011
0
LPGPrice2012
0
LPGPrice2013
0
LPGPrice2014
0
GDP2010Q1
0
GDP2010Q2
0
GDP2010Q3
0
GDP2010Q4
0
GDP2010
0
GDP2011Q1
0
GDP2011Q2
0
GDP2011Q3
0
GDP2011Q4
0
GDP2011
0
GDP2012Q1
0
GDP2012Q2
0
GDP2012Q3
0
GDP2012Q4
0
GDP2012
0
GDP2013Q1
0
GDP2013Q2
0
GDP2013Q3
0
GDP2013Q4
0
GDP2013
0
GDP2014Q1
0
GDP2014Q2
0
GDP2014Q3
0
GDP2014Q4
0
GDP2014
0
CENSUS2010POP
0
POPESTIMATE2010
0
POPESTIMATE2011
0
POPESTIMATE2012
0
POPESTIMATE2013
0
POPESTIMATE2014
0
RBIRTH2011
0
RBIRTH2012
0
RBIRTH2013
0
RBIRTH2014
0
RDEATH2011
0
RDEATH2012
0
RDEATH2013
0
RDEATH2014
0
RNATURALINC2011
0
RNATURALINC2012
0
RNATURALINC2013
0
RNATURALINC2014
0
RINTERNATIONALMIG2011
0
RINTERNATIONALMIG2012
0
RINTERNATIONALMIG2013
0
RINTERNATIONALMIG2014
0
RDOMESTICMIG2011
1
RDOMESTICMIG2012
1
RDOMESTICMIG2013
1
RDOMESTICMIG2014
1
RNETMIG2011
0
RNETMIG2012
0
RNETMIG2013
0
RNETMIG2014
0

In [125]:
# See the data types of the columns
energy_df.dtypes

StateCodes                object
State                     object
Region                   float64
Division                 float64
Coast                    float64
Great Lakes              float64
TotalC2010                 int64
TotalC2011                 int64
TotalC2012                 int64
TotalC2013                 int64
TotalC2014                 int64
TotalP2010                 int64
TotalP2011                 int64
TotalP2012                 int64
TotalP2013                 int64
TotalP2014                 int64
TotalE2010               float64
TotalE2011               float64
TotalE2012               float64
TotalE2013               float64
TotalE2014               float64
TotalPrice2010           float64
TotalPrice2011           float64
TotalPrice2012           float64
TotalPrice2013           float64
TotalPrice2014           float64
TotalC10-11              float64
TotalC11-12              float64
TotalC12-13              float64
TotalC13-14              float64
                          ...
CENSUS2010POP              int64
POPESTIMATE2010            int64
POPESTIMATE2011            int64
POPESTIMATE2012            int64
POPESTIMATE2013            int64
POPESTIMATE2014            int64
RBIRTH2011               float64
RBIRTH2012               float64
RBIRTH2013               float64
RBIRTH2014               float64
RDEATH2011               float64
RDEATH2012               float64
RDEATH2013               float64
RDEATH2014               float64
RNATURALINC2011          float64
RNATURALINC2012          float64
RNATURALINC2013          float64
RNATURALINC2014          float64
RINTERNATIONALMIG2011    float64
RINTERNATIONALMIG2012    float64
RINTERNATIONALMIG2013    float64
RINTERNATIONALMIG2014    float64
RDOMESTICMIG2011         float64
RDOMESTICMIG2012         float64
RDOMESTICMIG2013         float64
RDOMESTICMIG2014         float64
RNETMIG2011              float64
RNETMIG2012              float64
RNETMIG2013              float64
RNETMIG2014              float64
Length: 192, dtype: object

In [128]:
# Look at statistics on a column basis
energy_df.describe()

,Region,Division,Coast,Great Lakes,TotalC2010,TotalC2011,TotalC2012,TotalC2013,TotalC2014,TotalP2010,...,RINTERNATIONALMIG2013,RINTERNATIONALMIG2014,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014
count,51.000000,51.000000,51.000000,51.000000,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,...,52.000000,52.000000,51.000000,51.000000,51.000000,51.000000,52.000000,52.000000,52.000000,52.000000
mean,2.666667,5.117647,0.450980,0.156863,3.748043e+06,3.723920e+06,3.631132e+06,3.736541e+06,3.784461e+06,2.759090e+06,...,2.545359,2.501026,0.309307,0.617791,0.773470,-0.086251,2.587748,3.117434,3.303955,2.416433
std,1.051982,2.534932,0.502543,0.367290,1.339845e+07,1.331718e+07,1.298862e+07,1.336881e+07,1.354064e+07,1.038432e+07,...,1.598187,1.569279,3.334579,4.332419,4.776573,4.895949,3.602628,4.383237,4.819083,4.794439
min,1.000000,1.000000,0.000000,0.000000,1.536970e+05,1.504750e+05,1.304120e+05,1.375270e+05,1.398970e+05,9.500000e+01,...,0.631283,0.628523,-5.839158,-5.946809,-5.482049,-13.754494,-3.182714,-3.382339,-3.778986,-10.884734
25%,2.000000,3.000000,0.000000,0.000000,6.488725e+05,6.483915e+05,6.468032e+05,6.499528e+05,6.552158e+05,2.444558e+05,...,1.411803,1.392360,-1.238840,-1.919526,-1.559669,-2.519482,0.421528,0.092413,0.002172,-0.273974
50%,3.000000,5.000000,0.000000,0.000000,1.482116e+06,1.447694e+06,1.417946e+06,1.449638e+06,1.457408e+06,6.383085e+05,...,2.042578,2.019803,0.030893,-0.420875,-0.478459,-1.192172,1.709057,1.642785,2.051458,1.524206
75%,3.500000,7.500000,1.000000,0.000000,2.533853e+06,2.448560e+06,2.378196e+06,2.443520e+06,2.461348e+06,1.499262e+06,...,3.201814,3.142864,2.061860,3.463549,3.498414,3.710544,4.264455,5.460200,5.720351,5.357469
max,4.000000,9.000000,1.000000,1.000000,9.744602e+07,9.682746e+07,9.441143e+07,9.714137e+07,9.838521e+07,7.459311e+07,...,6.426691,6.074495,11.332882,15.589637,23.189451,12.265101,16.805955,17.804574,25.104485,14.028192

## Option 2: Beer Consumption in Sao Paulo, Brazil

## Problem Statement:

Beer is the most consumed alcoholic beverahe in Brazil. Brazil is the third largest beer producer in the world. Brazil is also the third largest consumer of beer in the world, after China and the United States and just in front of Germany. 

Brazil is in its worst recession yet. However, beer sales may help to drive the economy. Therefore, the main goal of this exercise is to predict the consumption of beer in one of the country's most populous cities, Sao Paulo.

## Target Variable and Feature Columns:

Target Variable: liters of beer consumed

Feature columns: Average temperature, minimum temperature, maximum temperature, precipitation, weekend vs weekday

## Goal and Sucess Metrics:

The goal is to be able to predict the amount of beer consumption in Sao Paulo.

The success metric is limited to the ability to predict the amount of beer consumed in Sao Paulo and whether there is a trend in the data based on the feature columns.

## Risks and Limitations:

- There is no data for those under the drinking age (18).
- The data is primarilly focused on an area with a university, where the maximum age is around 28.
- The data is only based on one year (2015). The climate may have been more mild or more extreme than other years.

#### Source of the dataset: https://www.kaggle.com/dongeorge/beer-consumption-sao-paulo

In [41]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd

plt.style.use('fivethirtyeight')

In [42]:
%matplotlib inline

#### Load the data

In [115]:
# Convert commas to decimals
beer_df = pd.read_csv('Consumo_cerveja.csv', decimal=',')

In [116]:
beer_df.head()

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,1/1/15,27.30,23.9,32.5,0.0,0,25.461
1,1/2/15,27.02,24.5,33.5,0.0,0,28.972
2,1/3/15,24.82,22.4,29.9,0.0,1,30.814
3,1/4/15,23.98,21.5,28.6,1.2,1,29.799
4,1/5/15,23.82,21.0,28.3,0.0,0,28.9

In [117]:
# Translate column names to English
beer_df.columns = ['Date', 'Average Temperature (C)', 'Minimum Temperature (C)', 'Maximum Temperature (C)', 'Precipitation (mm)', 'Weekend', 'Beer Consumption (liters)']

In [118]:
# Look at new column names
beer_df.head()

,Date,Average Temperature (C),Minimum Temperature (C),Maximum Temperature (C),Precipitation (mm),Weekend,Beer Consumption (liters)
0,1/1/15,27.30,23.9,32.5,0.0,0,25.461
1,1/2/15,27.02,24.5,33.5,0.0,0,28.972
2,1/3/15,24.82,22.4,29.9,0.0,1,30.814
3,1/4/15,23.98,21.5,28.6,1.2,1,29.799
4,1/5/15,23.82,21.0,28.3,0.0,0,28.9

In [119]:
# Check the shape
beer_df.shape

(365, 7)

In [120]:
# Check for null values
beer_df.isna().sum()

Date                         0
Average Temperature (C)      0
Minimum Temperature (C)      0
Maximum Temperature (C)      0
Precipitation (mm)           0
Weekend                      0
Beer Consumption (liters)    0
dtype: int64

In [121]:
# Check the data types
beer_df.dtypes

Date                          object
Average Temperature (C)      float64
Minimum Temperature (C)      float64
Maximum Temperature (C)      float64
Precipitation (mm)           float64
Weekend                        int64
Beer Consumption (liters)     object
dtype: object

In [123]:
# Convert Beer Consumption data from object to float
beer_df.loc[:, 'Beer Consumption (liters)'] = pd.to_numeric(beer_df.loc[:, 'Beer Consumption (liters)'])
beer_df.dtypes

Date                          object
Average Temperature (C)      float64
Minimum Temperature (C)      float64
Maximum Temperature (C)      float64
Precipitation (mm)           float64
Weekend                        int64
Beer Consumption (liters)    float64
dtype: object

In [124]:
# Check columns
beer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 7 columns):
Date                         365 non-null object
Average Temperature (C)      365 non-null float64
Minimum Temperature (C)      365 non-null float64
Maximum Temperature (C)      365 non-null float64
Precipitation (mm)           365 non-null float64
Weekend                      365 non-null int64
Beer Consumption (liters)    365 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 20.0+ KB

In [130]:
# Look at statistics
beer_df.describe()

,Average Temperature (C),Minimum Temperature (C),Maximum Temperature (C),Precipitation (mm),Weekend,Beer Consumption (liters)
count,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000
mean,21.226356,17.461370,26.611507,5.196712,0.284932,25.401367
std,3.180108,2.826185,4.317366,12.417844,0.452001,4.399143
min,12.900000,10.600000,14.500000,0.000000,0.000000,14.343000
25%,19.020000,15.300000,23.800000,0.000000,0.000000,22.008000
50%,21.380000,17.900000,26.900000,0.000000,0.000000,24.867000
75%,23.280000,19.600000,29.400000,3.200000,1.000000,28.631000
max,28.860000,24.500000,36.500000,94.800000,1.000000,37.937000